<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Store</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <main>
        <h1 class="title">Cupcake Store</h1>
        <div class="btnContainer">
            <a href="/cupcake_fav">
                <button>Favorites</button>
            </a>
            <a href="/cupcake_all">
                <button>All</button>
            </a>
            <a href="/cupcake_order">
                <button>Order</button>
            </a>
        </div>
    </main>

    
</body>
</html>